@page "/personal/contact"
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Pages/Account/_Layout.cshtml";
}
    <header class="masthead mb-auto">
        <div class="inner">
            <h3 class="masthead-brand">Marek Novák</h3>
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link active" href="/">Home</a>
                <a class="nav-link" href="~/personal/contact">Contact</a>
                <a class="nav-link" href="https://www.facebook.com/blogifierdotnet">Facebook</a>
                <a class="nav-link" href="https://github.com/Sidmarek/">Github</a>
            </nav>
        </div>
    </header>

    <main role="main" class="inner cover">
        <h1 class="cover-heading">Marek Novák</h1>
        <p class="lead">Public contact on me</p>
        <p class="lead">
            <a href="~/" class="btn btn-lg btn-secondary">Contact me</a>
        </p>
    </main>

    <footer class="mastfoot mt-auto">
        <div class="inner">
            <p>© 2020 <a href="~/">Marek Novák</a></p>
        </div>
    </footer>
